[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "==3.1"
django-rest-framework = "*"
django-admin-interface = "*"
drf-writable-nested = "*"
django-filter = "*"
django-cors-headers = "*"
python-decouple = "*"

[dev-packages]
isort = "*"
flake8 = "*"

[requires]
python_version = "3.8"
