<div class="main-container">
  <form method="POST" class="form-container" #form="ngForm">
    <span><img src="assets/logo.png" alt="logo" height="50" /></span>
    <h3 class="form-title">Crie sua conta</h3>
    <div class="form-fields">
      <div>
        <label class="outlined-text-field">
          <input
            placeholder=" "
            name="name"
            type="text"
            [(ngModel)]="userSignupData.name"
            (change)="validateFormOnChange()"
            valid="{{userSignupFormInputStateControl.name}}"
            required />
          <span>Nome</span>
        </label>
        <span class="error" *ngIf="userSignupFormInputStateControl.name">
          {{ userSignupFormInputStateControl.name }}
        </span>
      </div>

      <div>
        <label class="outlined-text-field">
          <input placeholder=" " name="email" type="email" [(ngModel)]="userSignupData.email" (change)="validateFormOnChange()" required />
          <span>Email</span>
        </label>
        <span class="error" *ngIf="userSignupFormInputStateControl.email">
          {{ userSignupFormInputStateControl.email }}
        </span>
      </div>

      <div>
        <label class="outlined-text-field">
          <input placeholder=" " name="password" [type]="hidePassword ? 'password' : 'text'" [(ngModel)]="userSignupData.password" (change)="validateFormOnChange()" required>
          <span>Senha</span>
          <a class="show-password-button" (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
            <i class="material-icons">{{hidePassword ? 'visibility_off' : 'visibility'}}</i>
          </a>
        </label>
        <span class="error" *ngIf="userSignupFormInputStateControl.password">
          {{ userSignupFormInputStateControl.password }}
        </span>
      </div>

      <div>
        <label class="outlined-text-field">
          <input placeholder=" " name="password" [type]="hideConfirmPassword ? 'password' : 'text'" [(ngModel)]="userSignupData.confirmPassword" (change)="validateFormOnChange()" required>
          <span>Senha</span>
          <a class="show-password-button" (click)="hideConfirmPassword = !hideConfirmPassword" [attr.aria-label]="'Hide confirm password'" [attr.aria-pressed]="hideConfirmPassword">
            <i class="material-icons">{{hideConfirmPassword ? 'visibility_off' : 'visibility'}}</i>
          </a>
        </label>
      </div>
    </div>
    <div class="form-buttons">
      <button type="button" class="waves-effect waves-light secondary-button" [routerLink]="['/login']">Cancelar</button>
      <button type="submit" class="waves-effect waves-light primary-button" [disabled]="!formValid" (click)="submitForm($event)">Confirmar</button>
    </div>
  </form>
</div>
