<div class="main-container">
  <form method="POST" class="form-container" #form="ngForm">
    <span><img src="assets/logo.png" alt="logo" height="50" /></span>
    <div class="form-fields">
      <div>
        <label class="outlined-text-field">
          <input placeholder=" " name="email" type="email" [(ngModel)]="login.email" required>
          <span>Email ou Login</span>
        </label>
      </div>

      <div>
        <label class="outlined-text-field">
          <input placeholder=" " name="password" [type]="hidePassword ? 'password' : 'text'" [(ngModel)]="login.password" required>
          <span>Senha</span>
          <a class="show-password-button" (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
            <i class="material-icons">{{hidePassword ? 'visibility_off' : 'visibility'}}</i>
          </a>
        </label>
      </div>
      <div class="checkbox-row"><mat-checkbox class="form-checkbox">Lembrar minha senha</mat-checkbox></div>
    </div>
    <div class="form-buttons">
      <button type="button" class="waves-effect waves-light secondary-button" [routerLink]="['/signup']">Criar Conta</button>
      <button type="submit" class="waves-effect waves-light primary-button" [disabled]="form.invalid" (click)="submitForm($event)">Acessar</button>
    </div>
  </form>
</div>
